[

 {signaler, [
                {signaler_listen_port, 10088}
            ]
 },

{lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
      {lager_file_backend, [{file, "log/info.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
    ]}
  ]},

 {sasl, [
 {sasl_error_logger, false}
 ]}

 ].

